@page "/CategoryPage"
<h3 class="text-center bg-transparent">Select Category</h3>

<div class="container-fluid d-flex flex-column vh-100" style="background-color:#e0e0e0">
    <div class=" container" style="background-color:#e0e0e0">
        <div class="col">
            <div class="row mt-3 ">
                <div class="d-flex">
                    <button type="button" class="btn btn-primary text-center" style="background-color:#1f6a53; border-color:#e0e0e0">
                        Zrobione 
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mt-3 ">
                <div class="d-flex">
                    <button type="button" class="btn btn-primary text-center" style="background-color:#1f6a53; border-color:#e0e0e0">
                        Zrobione
                    </button>
                 </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-3 ">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary text-center" style="background-color:#1f6a53; border-color:#e0e0e0">
                        Zrobione
                     </button>
                </div>
            </div>
        </div>
    </div>
 </div>
@code {

}
