@page "/"
@using ScrapRefined.ViewModels
@inject IndexViewModel indexVM



<div class="container-fluid d-flex flex-column vh-100">
    <h1>Hello, world!</h1>
    <p>Strona główna aplikacji</p>
</div>


@code{
    protected override async Task OnInitializedAsync()
    {
        await indexVM.LoadProducts();
    }
}