@page "/DetailsPage"

<div class="container-fluid d-flex flex-column vh-100">
    <div class=" container">
        <div class="col">
            <div class="row mt-3 ">
                <div class="d-flex bd-highlight">
                    <div class="p-0 flex-grow-1 bd-highlight">
                        <div class="form-outline">
                            <p class="text-center fs-3 m-0">Product Title</p>
                        </div>
                    </div>
                    <div class="p-0 bd-highlight">
                        <button type="button" class="btn btn-primary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ">
                <p class="justify-content-center" style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec condimentum est. Etiam mollis urna nisl, tempus scelerisque dolor feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque pharetra turpis eget dictum maximus. Etiam odio ipsum, vehicula id facilisis pharetra, maximus id est. Aliquam rhoncus sed lorem eu finibus. Donec non nulla ac diam laoreet dapibus. Cras tristique, tortor a pellentesque facilisis, neque ligula aliquet ligula, iaculis tincidunt sapien elit ullamcorper nunc. Suspendisse mollis purus venenatis neque posuere aliquet. Vivamus turpis elit, ultrices sed lacus sit amet, eleifend malesuada mauris. Morbi consequat augue porttitor, porta ligula ut, blandit tortor. Duis dictum tincidunt felis, in porttitor nisl feugiat nec. Proin eros augue, iaculis vel euismod ut, pellentesque in ante. In mollis molestie mi et feugiat. Donec suscipit nisi vitae ligula aliquet suscipit.</p>
            </div>
        </div>
    </div>
</div>


@code {

}
