@page "/DetailsPage"
@using ScrapRefined.ViewModels
@inject ProductDetailViewModel productDetailsVM

<div class="container-fluid d-flex flex-column vh-100" style="background-color:#e0e0e0">
    <div class=" container" style="background-color:#e0e0e0">
        <div class="col">
            <div class="row mt-3 ">
                <div class="d-flex">
                    <div class="p-0 flex-grow-1 ">
                        <div class="form-outline">
                            <p class="text-center fs-3 m-0">Product Title</p>
                        </div>
                    </div>
                    <div class="p-0 bd-highlight">
                        <button type="button" class="btn btn-primary" style="background-color:#1f6a53; border-color:#e0e0e0">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ">
                <p class="justify-content-center" style="text-align:justify;">
                    @productDetailsVM.SelectedProduct.Description
                   
                </p>
            </div>
            <div class="row mt-5 text-center">
                <div class="container-fluid fixed-bottom p-0 vh-100 mb-5" style="max-height:50px; background-color:#1f6a53;">
                    <button class="w-100 bg-transparent border-0 fs-2 border-bottom" style="color:#e0e0e0; border-color:#e0e0e0">Buy</button>
                </div>
            </div>
        </div>
    </div>
   
</div>


@code {

}
