@page "/DetailsPage"

<div class="container-fluid d-flex flex-column vh-100" style="background-color:#e0e0e0">
    <div class=" container">
        <div class="col">
            <div class="row mt-3 ">
                <div class="d-flex bd-highlight">
                    <div class="p-0 flex-grow-1 bd-highlight">
                        <div class="form-outline">
                            <p class="text-center fs-3 m-0">Product Title</p>
                        </div>
                    </div>
                    <div class="p-0 bd-highlight">
                        <button type="button" class="btn btn-primary" style="background-color:#1f6a53; border-color:#e0e0e0">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ">
                <p class="justify-content-center" style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin blandit diam at tristique. Aenean efficitur luctus bibendum. Sed dictum ligula at velit faucibus egestas dignissim quis dolor. Praesent faucibus facilisis diam, quis laoreet ante malesuada a. Maecenas tempor justo purus, nec venenatis nisl bibendum lacinia. Phasellus tincidunt et odio ac tincidunt. In semper eros sem, eget imperdiet turpis pharetra eget. Morbi aliquet et libero et luctus. Pellentesque at nulla vel erat porta rhoncus. Nullam tristique in diam ac dapibus. Donec vitae ligula eu justo ultrices tincidunt. Curabitur quis odio in enim viverra pulvinar et id diam. Vivamus dignissim, tortor eu semper porta, nibh nibh fringilla risus, sed faucibus lorem magna quis elit. Sed semper nisl sit amet gravida feugiat. Donec faucibus feugiat diam quis pharetra. Sed id volutpat mi, non vehicula tellus.

                    Sed blandit odio enim, non bibendum felis blandit bibendum. Vestibulum congue, mauris quis mollis tincidunt, mauris nisi interdum eros, sit amet consectetur massa nisi non mauris. In ultrices mi vel justo vulputate semper. Sed hendrerit orci vel nunc placerat sodales. Pellentesque in arcu sed ligula lobortis venenatis. Maecenas tristique iaculis turpis, a vestibulum libero blandit in. Phasellus aliquet sit amet urna a ullamcorper. Sed vel condimentum dolor.

                    Sed et ipsum id arcu lobortis dapibus. Sed finibus, mi eu tempor egestas, lorem est lobortis lacus, et efficitur dolor magna et turpis. Sed id gravida mauris, vel finibus ante. Pellentesque odio lacus, pellentesque condimentum eros non, posuere sodales ex. Aliquam sit amet ex interdum, vestibulum magna vitae, ultricies lectus. Ut tempus dui vel ullamcorper porttitor. Donec condimentum turpis vel suscipit accumsan. Nunc mauris lorem, dignissim sit amet posuere eget, cursus non sapien.

                    Nulla ac pulvinar justo. Sed facilisis quam fermentum porttitor sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at sodales libero. Mauris libero orci, varius vitae turpis nec, ultrices interdum lectus. Aenean faucibus malesuada interdum. Nulla ullamcorper nunc mi, at condimentum augue imperdiet quis. Maecenas sed quam sit amet dui placerat tempus vel eu eros. Phasellus volutpat risus sed accumsan pharetra. Aenean dignissim ex ac tempus efficitur. Phasellus varius semper mattis. Ut at bibendum diam, vel pellentesque sem.

                    Praesent consequat accumsan malesuada. Suspendisse eleifend blandit arcu ac malesuada. Donec sed gravida felis. Aenean volutpat mauris id magna euismod fermentum porta in dolor. Maecenas risus sapien, viverra nec nulla at, blandit ultrices enim. Phasellus sapien arcu, fringilla ut nisl in, blandit laoreet augue. Aenean varius nisi vel libero auctor, et iaculis lectus molestie. Cras magna tellus, ultricies sit amet bibendum in, faucibus sit amet lectus.an nec condimentum est. Etiam mollis urna nisl, tempus scelerisque dolor feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque pharetra turpis eget dictum maximus. Etiam odio ipsum, vehicula id facilisis pharetra, maximus id est. Aliquam rhoncus sed lorem eu finibus. Donec non nulla ac diam laoreet dapibus. Cras tristique, tortor a pellentesque facilisis, neque ligula aliquet ligula, iaculis tincidunt sapien elit ullamcorper nunc. Suspendisse mollis purus venenatis neque posuere aliquet. Vivamus turpis elit, ultrices sed lacus sit amet, eleifend malesuada mauris. Morbi consequat augue porttitor, porta ligula ut, blandit tortor. Duis dictum tincidunt felis, in porttitor nisl feugiat nec. Proin eros augue, iaculis vel euismod ut, pellentesque in ante. In mollis molestie mi et feugiat. Donec suscipit nisi vitae ligula aliquet suscipit.
                </p>
            </div>
            <div class="row mt-5 text-center">
                <div class="container-fluid fixed-bottom p-0 vh-100 mb-5" style="max-height:50px; background-color:#1f6a53;">
                    <button class="w-100 bg-transparent border-0 fs-2 border-bottom" style="color:#e0e0e0; border-color:#e0e0e0">Buy</button>
                </div>
            </div>
        </div>
    </div>
   
</div>


@code {

}
