@page "/TutorialPage"
<h3 class="text-center" style="background-color:#e0e0e0">Flower Pot</h3>
<div class="container-fluid" style="background-color:#e0e0e0">
    <div class="row text-center justify-content-center">
        <p class="py-2"></p>
        <img style="" src="https://i.ibb.co/DpbsT96/My-project-1.png" class="center-block">
        <p class="fw-bold">Awesome Ideas, How To Make Amazing Flower Pot From plastic bottles for your Garden</p>
    </div>
    </div>
@code {

}
